﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Login.aspx.cs" Inherits="Paginas_Login_Login" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Padaria Imperial</title>
    <link href="../Content/css/bootstrap.min.css" rel="stylesheet" />
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/jquery-3.0.0.min.js"></script>
    <style id="est" type="text/css" runat="server">
       body{text-align:center}
        
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div style="background-image: url('../Fundo4.jpeg'); background-repeat: no-repeat; background-attachment: fixed; background-position: inherit center; background-color: #00C162;">
             <br />
             <br />
             <br />
             <br />
             <br />
             <br />
             <br />
             <br />
             <br />
             <asp:Label ID="lblTitulo" runat="server" Text="Login"></asp:Label>
                <br />
                <br />
            <asp:Label ID="lblNome" runat="server" Text="Nome"></asp:Label>
                <br />
            <asp:TextBox ID="txtNome" runat="server"></asp:TextBox>
             <br />
            <asp:Label ID="lblSenha" runat="server" Text="Senha"></asp:Label>
            <br />
            <asp:TextBox ID="txtSenha" runat="server" type="password"></asp:TextBox>
            <br />
             <br />
            <asp:Button ID="btnEntrar" runat="server" Text="Entrar" OnClick="btnEntrar_Click" />
            <br />
            <asp:Label ID="lblMensagem" runat="server" Text=""></asp:Label>
             <br />
             <br />
             <br />
             <br />
             <br />
             <br />
             <br />
        </div>
    </form>
</body>
</html>
